#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "piwigo"
name = "Piwigo"
description.en = "Open source photo gallery for the web"
description.fr = "Galerie de photos open source pour le web"

version = "14.4.0~ynh1"

maintainers = ["JimboJoe"]

[upstream]
license = "GPL-2.0"
website = "http://piwigo.org"
demo = "https://piwigo.org/demo"
admindoc = "https://piwigo.org/guides"
code = "https://github.com/Piwigo/Piwigo"

[integration]
yunohost = ">= 11.2"
architectures = "all"
multi_instance = true

ldap = true

sso = true

disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/piwigo"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.language]
    ask.en = "Choose the application language"
    ask.fr = "Choisissez la langue de l'application"
    type = "select"
    choices = ["fr_FR", "en_UK"]
    default = "fr_FR"

    [install.admin]
    type = "user"

    [install.password]
    type = "password"

[resources]
    [resources.sources.main]
    url = "https://piwigo.org/download/dlcounter.php?code=14.4.0"
    sha256 = "d9c4c422626537e1beb65a9cadcf712a5ead2f63cae3775d85ae17241c3e3dc0"
    format = "zip"

    autoupdate.strategy = "latest_github_release"

    [resources.sources.ldap_plugin]
    url = "https://piwigo.org/ext/download.php?rid=8962"
    sha256 = "ba34c461c46c0558b05a33290a009b24461aedc7701e7cf642f3a4d667150787"
    format = "zip"

    autoupdate.upstream = "https://github.com/kipjr/ldap_login"
    autoupdate.strategy = "latest_github_release"

    [resources.sources.log_failed_logins_plugin]
    url = "http://piwigo.org/ext/download.php?rid=8501"
    sha256 = "8c21fb42675968ffaf41bd0735cf1b0541756550e0a6b6d3357f3aaaa84f1bd5"
    in_subdir = false
    format = "zip"

    [resources.system_user]
    #allow_email = true

    [resources.install_dir]

    [resources.permissions]
    main.url = "/"

    [resources.apt]
    packages = [
        "mariadb-server",
        "imagemagick",
        "php8.0-gd",
        "php8.0-imagick",
        "php8.0-xml",
        "php8.0-mbstring",
        "php8.0-mysqli",
        "php8.0-ldap",
    ]

    [resources.database]
    type = "mysql"
